.accordion__block {
  font-family: sans-serif;
  margin-top: 1rem;
  border-top: 1px solid #ccc;
  // gap: 15px;
  display: flex;
}

.item {
  // border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
  // width: 500px;
}

.itemBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 2rem;
  font-size: 1rem;
  text-align: left;
  color: #171717;
  background-color: transparent;
  border: none;
  border: 3px solid;
  border-radius: 20px 20px 20px 20px;
  
}

// .itemBtn::after {
//   border: none;
//   border: 1px solid;
//   border-radius: 20px 20px 0px 0px;
// }
// .itemBtn:hover {
//   background-color: #f3f3f3;
// }

.itemBtnExpanded {
  // border: none;
  // border: 1px solid;
  border-radius: 20px 20px 0px 0px;
}

.itemContent {
  // transition: height 0.25s cubic-bezier(0, 0, 0, 1);
  
}

.itemPanel {
  padding: 1rem;
  border: 1px solid;
  border-radius: 0px 0px 20px 20px;
  color: #171717;
}
.chevron {
  
  margin-left: auto;
  transition: transform 0.25s cubic-bezier(0, 0, 0, 1);
}

.itemBtnExpanded .chevron {
  transform: rotate(180deg);
  
  
}

