.products {
    margin-top: 30px;
}

.products__block {
    max-width: 1171px;
    // height: 950px;
    margin-bottom: 50px;
}

.products__title {
    margin-bottom: 30px;
    h1 {
        color: #FFF;
        font-family: Neusa;
        font-size: 72px;
        font-style: normal;
        font-weight: 700;
        line-height: 98.2%;
        text-transform: uppercase;
    }
    
}

.products_namebox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
}

.products__title {
    font-family: 'Neusa';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 98.2%;
    /* or 71px */
    text-align: start;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.products__subtitle {
    text-align: start;
    p {
        font-family: 'Inter';
        font-weight: 500;
        font-size: 18px;
        line-height: 195%;
        color: #FFFFFF;
    }

}


.products__btn {
    width: 280px;
    height: 60px;
    border-radius: 68px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    line-height: 192.7%;
    /* identical to box height, or 31px */
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.125em;
    color: #171717;
      
    background: #E6BC28;
    /* drop_button */
    border-radius: 68px;
}

.products__showcase {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    flex-wrap: wrap;
    h2 {
        font-family: 'Neusa';
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        /* or 125% */

        text-transform: uppercase;

        color: #FFFFFF;
    }
    p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 195.2%;
        color: #FFFFFF;
    }

}

.products__showcase-item {
    display: flex;
    width: 270px;
    height: 700px;
    flex-direction: column;
    gap: 30px;
}

// @media (min-width: 992px) and (max-width: 1199px) {
// }
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 480px) and (max-width: 767px) {
}
@media (min-width: 320px) and (max-width: 479px) {
    .products__showcase {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        text-align: left;
        flex-wrap: wrap;
    }
    .products__title {
        font-family: "Neusa";
        font-style: normal;
        font-weight: 700;
        font-size: 72px;
        line-height: 98.2%;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .products_namebox {
        display: flex;
        justify-content: center;
        gap: 25px;
        flex-direction: column;
        align-items: center;
    }
    .products__subtitle {
        /* text-align: start; */
        display: flex;
        text-align: center;
    }
}
@media (max-width: 320px) {
}

