.questions {
    height: auto;
    margin: 0px;
    
}

.questions__wrapper-background {
    background-image: url(./photo/questions_img.png);
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    height: 100%;
    background-position: bottom;
    background-size: cover;

}

// .questions_image {
//     width: 2010px;
//     height: 100%;
//     left: -400px;
// }

.questions__namebox {
    width: clamp(21.875rem, 3.239rem + 93.18vw, 73.125rem);
    display: flex;
    padding-top: 180px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;

}

.questions__title {
    width: 100%;
    display: flex;
    font-family: "Neusa";
    font-weight: 700;
    font-size: clamp(3rem, 1.909rem + 5.45vw, 6rem);
    line-height: 98.2%;
    text-align: center;
    text-transform: uppercase;
    color: #171717;
    align-items: center;
    justify-content: space-around;
    p {

    }
}
.questions__title span {
    width: 100%;
    height: 0px;
    border: 2px solid rgba(23, 23, 23, 0.3);
    margin-right: 20px;
}

.questions__subtitle {
    display: flex;
    text-align: center; 
    max-width: 600px;
    p {
        font-weight: 500;
        font-size: clamp(0.75rem, 0.614rem + 0.68vw, 1.125rem);
        line-height: 190.2%;
        color: #171717;
    }

}

// НАСТРОЙКА И АДАПТИВ АККАРДИОНА

.accordion__block {
    
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-around;
    // margin-bottom: 35px;
    // gap: 20px;
}

.accordion__block-one {
    // width: 100%;
    // display: flex;
    // justify-content: center;
    // height: 100px;
    // background-color: #171717;
}
.accordion__block-two {
    // width: 100%;
    // height: 100px;
    // background-color: #171717;
    
}
.szh-accordion {
    width: 100%;
    // display: flex;
    // font-size: 8px;
    font-size: clamp(0.625rem, 0.443rem + 0.91vw, 1.125rem);
}

// 1 БЛОК

.styles_item__qpkNO {
    max-width: clamp(12.5rem, 5.682rem + 34.09vw, 31.25rem);
    font-size: clamp(0.625rem, 0.443rem + 0.91vw, 1.125rem);
}

// 2 БЛОК

// .szh-accordion__item.szh-accordion__item--status-entered.szh-accordion__item--expanded.styles_item__qpkNO {
//     max-width: clamp(12.5rem, 5.682rem + 34.09vw, 31.25rem);
//     font-size: clamp(0.625rem, 0.443rem + 0.91vw, 1.125rem);
// }

.szh-accordion__item-btn.styles_itemBtn__4m8LY.styles_itemBtnExpanded__Fneq7 {
    // font-size: clamp(0.625rem, 0.443rem + 0.91vw, 1.125rem);
}
.szh-accordion__item-heading h3 {
    // font-size: 4px;
}
.accordionComp__one {
    // max-width: 400px;
    // gap: 15px;
    // display: flex;
    // width: 300px;
  }
  
//   .accordionComp__two {
//     max-width: 400px;
//     display: flex;
//     width: 300px;
//   }

  .blockQuestions__btn {
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
  .questions__btn {
    max-width: 370px;
    height: 60px;
    font-weight: 700;
    font-size: 14px;
    line-height: 192.7%;
    text-align: center;
    letter-spacing: 0.125em;
    color: #171717;
    border: 2px dashed #171717;
    border-radius: 43px;
    margin-bottom: 90px;
    padding: 15px 50px;
  }

.contact {
    width: clamp(21.875rem, 3.239rem + 93.18vw, 73.125rem);
    // max-height: 450px;

  }



.contact__title {
    max-width: 400px;
    margin-bottom: 30px;
    h1 {
        font-family: 'Neusa';
        font-weight: 700;
        font-size: clamp(3.5rem, 2.591rem + 4.55vw, 6rem);
        line-height: 98.2%;
        text-transform: uppercase;
        color: #171717;
        text-align: left;
    }
}
.contact__full {
    display: flex;
    flex-wrap: wrap;
    /* gap: 240px; */
    justify-content: space-between;
    margin-bottom: 30px;
}
.contact__block {
    max-width: 371px;
    font-weight: 500;
    font-size: 18px;
    line-height: 190.2%;
    color: #171717;
    text-align: left;
}

.contact__subtitle {
    // max-width: 371px;
    // height: 57px;
    font-weight: 500;
    font-size: clamp(0.875rem, 0.784rem + 0.45vw, 1.125rem);
    line-height: 190.2%;
    color: #171717;
    margin-bottom: 75px;
}

.contact__number__text {
    font-family: 'Neusa';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(0.875rem, 0.739rem + 0.68vw, 1.25rem);
    line-height: 98.2%;
    /* identical to box height, or 20px */
    
    letter-spacing: 0.325em;
    text-transform: uppercase;
    
    color: rgba(23, 23, 23, 0.3);
}

.number__block {

    p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: clamp(1.625rem, 1.398rem + 1.14vw, 2.25rem);
        line-height: 190.2%;
        color: #171717;
    }
}

.contact__info {
    display: flex;
    max-width: 512px;
    height: auto;
    gap: 100px;
    flex-wrap: wrap;
}

.info__blockOne,
.info__blockTwo {
    display: flex;
    width: 164px;
    // height: 69px;
    gap: 80px;
    flex-direction: column;
    
}

.info__item {
    display: flex;
    width: 270px;
    // height: 86px;
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
    h2 {
        font-family: 'Neusa';
        font-weight: 700;
        font-size: 20px;
        line-height: 98.2%;
        /* identical to box height, or 20px */

        letter-spacing: 0.325em;
        text-transform: uppercase;

        color: rgba(23, 23, 23, 0.3);
        }
    p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 190.2%;
        text-align: left;
        color: #171717;
    }
}

.info__item__img {
    display: flex;
    gap: 20px;
}
.info__item__maps:last-child {
    width: 170px;
    display: flex;
}

@media (min-width: 392px) and (max-width: 1299px) {
    // .accordion__block {
    //     max-width: 1000px;
    //     height: auto;
    //     display: flex;
    //     /* display: block; */
    //     flex-direction: column;
    //     align-items: center;
    // }
    
}
// @media (min-width: 768px) and (max-width: 991px) {
// }
// @media (min-width: 480px) and (max-width: 767px) {
// }
// @media (min-width: 320px) and (max-width: 479px) {
//     // .accordion__block {
//     //     max-width: 1000px;
//     //     height: 400px;
//     //     display: flex;
//     //     justify-content: space-between;
//     //     margin-bottom: 35px;
//     // }
    
// }
// @media (max-width: 320px) {
// }