.masters{
    
}
.masters__content {
    padding-bottom: 1rem;
}
// .masters__bg {
//     background: url(./photo/bg.png) no-repeat;
//     // position: absolute;
//     width: 1710px;
//     height: 1406px;
//     left: 105px;
//     top: 2367px;
// }
.masters__headline {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    margin-bottom: 40px;
    position: relative;   
}

.masters__title {
    position: relative;   
    font-family: 'Neusa';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(2.25rem, 1.432rem + 4.09vw, 4.5rem);
    line-height: 98.2%;
    text-transform: uppercase;
    color: #FFFFFF;
}


.masters__subtitle {
    max-width: 618px;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 500;
    line-height: 190.2%; /* 34.236px */
    font-family: 'Inter';
    font-weight: 500;
    font-size: clamp(0.938rem, 0.869rem + 0.34vw, 1.125rem);
}
.yallow__wrapper {
    // height: 100%;
    // width: 80%;
    // margin: 0 auto;
    // background-image: url(./photo/bg.png);
    // background-repeat: no-repeat;
    // background-size: 100% auto;
    // background-position: bottom;
    background-image: url(./photo/bg.png);
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-position: bottom;
    

}
    
.yallow-background {


}

.masters__cards {
    z-index: 1;
    position: relative;   
    margin-top: 80px;
    padding-bottom: 50px;
    
}

// .cards__img img {
//     max-width: clamp(9.25rem, 6.205rem + 15.23vw, 17.625rem);
// }

.cards__item-1 {
    width: 350px;
    height: 610px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

}
.cards__item-1 img {
    filter: blur(30%);
    cursor: pointer;
    max-width: clamp(9.25rem, 6.205rem + 15.23vw, 17.625rem);
}
.masters__cards-item {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    justify-content: center;

}

.item__backdrop {
    width: 387.79px;
    height: 87.03px;

    background: #171717;
    transform: rotate(3.06deg);
}

.cards__item__title {
    font-family: 'Neusa';
    display: flex;
    height: 55px;
    font-weight: 700;
    font-size: clamp(1.5rem, 1.182rem + 1.59vw, 2.375rem);
    line-height: 98.2%;
    text-align: center;
    text-transform: uppercase;
    color: #171717;
    // margin: 10px 0 10px 0;
    // padding-top: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cards__item__title:hover {
    background: url(./photo/background__profile.png);
    width: 110%;
    height: 55px;
    left: 373.04px;
    top: 2701.06px;
    transform: rotate(0.06deg);
    display: flex;
    color: #FFFFFF;
    z-index: 5;
    padding-top: 10px;
}

.cards__item__subtitle {
    position: relative;
    font-weight: 500;
    font-size: clamp(0.75rem, 0.614rem + 0.68vw, 1.125rem);
    line-height: 190.2%;
    text-align: center;
    color: #171717;
    margin-bottom: 1rem;
    z-index: 4;
}

.cards__item__btn {
    z-index: 4;
    position: relative;
    height: 60px;
    background: #1E1E1E;
    border-radius: 68px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: clamp(0.625rem, 0.489rem + 0.68vw, 1rem);
    line-height: 192.7%;
    text-align: center;
    letter-spacing: 0.125em;
    color: #FFFFFF;
    padding: 0 25px;
}
.cards__img {
    filter: blur(80px);
    -webkit-filter: brightness(100%);

}

.cards__img:hover {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.grey-image {
    filter: grayscale(1); /* Черно-белый фильтр для изображения */
    // transition: 1s;
}
.grey-image:hover {
    filter: grayscale(0); /* Цветное изображение при наведении */
}

@media (max-width: 1200px) {
    .cards__item-1 {
        max-width: clamp(12.5rem, 9.818rem + 13.41vw, 19.875rem);
    
    }
    .yallow__wrapper {
        // max-width: clamp(50rem, 29.318rem + 103.41vw, 106.875rem);
        // height: 300%;
        background-size: cover;
    }
}

@media (max-width: 600px) {
    .masters__cards-item {
        margin-top: 35px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-around;
        align-items: flex-end;
    }
    
    .cards__item-1 {
        max-width: clamp(9.25rem, 4.659rem + 22.95vw, 21.875rem);
        
    
    }
    .yallow__wrapper {
        // max-width: clamp(50rem, 29.318rem + 103.41vw, 106.875rem);
        // height: 300%;
        background-size: cover;
    }
    .yallow__wrapper {
        // max-width: clamp(50rem, 29.318rem + 103.41vw, 106.875rem);
        // height: 300%;
        background-size: cover;
    }

}

// @media (min-width: 992px) and (max-width: 1199px) {
// }
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 480px) and (max-width: 767px) {
}
@media (min-width: 320px) and (max-width: 479px) {
    .masters__title {
        margin-bottom: 30px;
    }
    .masters__subtitle {
        position: relative;
        max-width: 618px;
        height: 50px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: clamp(0.938rem, 0.869rem + 0.34vw, 1.125rem);
        line-height: 190.2%;
        color: #FFFFFF;
    }
    .cards__item-1 {
        width: 350px;
        height: auto;
    }
    .yallow__wrapper {
        background-image: url(./photo/bg.png);
        background-repeat: no-repeat;
        display: flex;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        background-position: 0;
    }
}
@media (max-width: 320px) {
}
