.coffeeHouse {
    margin-bottom: 6rem;
    // position: relative;
}

.coffeeHouse_backgroundImages {
    position: absolute;
}

.img__pie {
    position: relative;
    left: 1250px;
    top: 650px;
    transform: rotate(0deg);
}

.coffeeСup {
    position: relative;
    left: 900px;
    top: 0px;
    transform: rotate(0deg);
}

.coffeeTumbler{
    position: relative;
    right: 970px;
    top: -300px;
    transform: rotate(0deg);
}



.coffeeHouse__block {
    display: flex;
    text-align: center;
    color: #FFFFFF;
    flex-direction: column;
    align-items: center;
}
.coffeeHouse-title {
    font-family: 'Neusa';
    font-weight: 700;
    font-size: clamp(2.25rem, 1.432rem + 4.09vw, 4.5rem);
    line-height: 98.2%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    h1 {
        color: #FFF;
        text-align: center;
        font-family: Neusa;
        font-size: clamp(2.25rem, 1.432rem + 4.09vw, 4.5rem);
        font-style: normal;
        font-weight: 700;
        line-height: 98.2%;
        text-transform: uppercase;
    }
    span {

        text-align: center;
        font-family: Neusa;
        font-size: clamp(2.25rem, 1.432rem + 4.09vw, 4.5rem);
        font-style: normal;
        font-weight: 700;
        line-height: 98.2%;
        text-transform: uppercase;
        color: #E5BC28;
    }
    margin: 30px 0 30px 0;
}
.coffeeHouse-subtitle {
    max-width: clamp(21.875rem, 12.33rem + 47.73vw, 48.125rem);
    display: flex;
    margin-bottom: 101px;
    padding: 0px 10px;
    /* text-align: center; */
    p {
        color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: clamp(0.875rem, 0.784rem + 0.45vw, 1.125rem);
        font-style: normal;
        font-weight: 500;
        line-height: 190.2%;
        
        // height: 91px;
    }
}
.coffeeHouse__content {
    max-width: 1170px;
    border-radius: 4px;
    margin-bottom: 30px;
    background-image: url('./photo/panorama.png');
}

.coffeeHouse__content-mobile {
    display: none;
}

.coffeeHouse__photos {
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;

}

.coffeeTumbler2 {
    display: none;

}

.coffeeTumbler2-block {
    display: none;
}

@media (max-width: 1100px) {
    .coffeeHouse_backgroundImages {
        display: none;
        
    }

}
@media (max-width: 1000px) {

}

// @media (min-width: 992px) and (max-width: 1199px) {
// }
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 480px) and (max-width: 767px) {
}
@media (min-width: 320px) and (max-width: 479px) {
    .coffeeHouse {
        margin-bottom: 5rem;
        // position: relative;
    }
    // .studio__description p {
    //     font-family: "Inter";
    //     font-weight: 500;
    //     font-size: 10px;
    //     line-height: 190.2%;
    //     color: #FFFFFF;
    // }
    .vk__link a {
        font-weight: 700;
        font-size: clamp(0.625rem, 0.304rem + 1.14vw, 0.875rem);
        line-height: 192.7%;
        text-align: center;
        letter-spacing: 0.125em;
        color: #171717;
        text-transform: uppercase;
    }
    .coffeeHouse_backgroundImages {
        position: absolute;
    }
    .coffeeTumbler2-block {
        display: block;
        position: absolute;
        left: 32%;
        // top: 30px;
        // left: 5px;
        // top: 0px;
        // transform: rotate(0deg);
    }
    .coffeeTumbler2 {
        display: block;
        position: relative;
        // left: 95%;
        top: -140px;
        transform: rotate(0deg);
    
    }
    .vector_1 {
        position: relative;
        left: -70px;
        top: -240px;
        transform: rotate(0deg);
    }
    .vector_2 {
        position: relative;
        left: 130px;
        top: -270px;
        transform: rotate(0deg);
    }
    .vector_3 {
        position: relative;
        left: 170px;
        top: -200px;
        transform: rotate(0deg);
    }
    .vector_4 {
        position: relative;
        left: -190px;
        top: -160px;
        transform: rotate(0deg);
    }
    .vector_5 {
        position: relative;
        left: 120px;
        top: 0px;
        transform: rotate(0deg);
    }
    .vector_6 {
        position: relative;
        left: -230px;
        top: 120px;
        transform: rotate(0deg);
    }
    .cake_img {
        position: absolute;
        left: 130px;
        top: 250px;
    }
    .coffeeHouse__content {
        display: none;
    }
    .coffeeHouse__content-mobile {
        // display: block;
        display: flex;
        margin-bottom: 10px;
        justify-content: center;
        width: 100%;
        
        img {
            width: 370px;
            z-index: 3;
        }
    }
    .coffeeHouse__photos {
        display: flex;
        gap: 10px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .coffeeHouse__photos-photo_1 {
        width: clamp(9.75rem, 4.886rem + 24.32vw, 23.125rem);
        gap: 10px;
    }
    .coffeeHouse__photos-photo_2 {
        width: clamp(9.75rem, 4.886rem + 24.32vw, 23.125rem);
    }

}
@media (max-width: 320px) {
}
