.tattooRemoval {
    margin-bottom: 30px;
}

.tattooRemoval__block {
    // margin-top: 5rem;
    display: flex;
    max-width: 1167.5px;
    padding: 0 10px;
    justify-content: center;

}

.block__image {
    max-width: 594px;
    display: flex;
    align-items: flex-end;
}
.image__background {
    position: absolute;
    z-index: 1;
    transform: rotate(-1deg);
    max-width: clamp(18.75rem, 14.318rem + 22.16vw, 30.938rem);

}

.imege__laser {
    position: relative;
    z-index: 2;
    top: -14.9px;
    transform: rotate(0.8deg);
    max-width: clamp(18.75rem, 14.136rem + 23.07vw, 31.438rem);
    
    

}

.block_text {
    max-width: 570px;
    // height: 721px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    gap: 40px;
    margin-top: 2rem;
}

.tattooRemoval__title {

    h2 {
        font-family: 'Neusa';
        font-style: normal;
        font-weight: 700;
        font-size: clamp(2.5rem, 1.773rem + 3.64vw, 4.5rem);
        line-height: 98.2%;
        /* or 71px */
        text-align: start;
        text-transform: uppercase;
        
        color: #FFFFFF;
        span {
            font-family: 'Neusa';
            font-style: normal;
            font-weight: 700;
            font-size: clamp(2.5rem, 1.773rem + 3.64vw, 4.5rem);
            line-height: 98.2%;
            /* or 71px */
            text-align: start;
            text-transform: uppercase;
            color: #E6BC28;
        }
    }

      
}


.tattooRemoval__subtitle {
        text-align: start;
        font-weight: 500;
        font-size: clamp(0.75rem, 0.614rem + 0.68vw, 1.125rem);
        line-height: 216.2%;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.tattooRemoval__list {
    margin-left: 15px;
    text-align: left;

}

.tattooRemoval__items {
    display: flex;
    gap: 10px;
    flex-direction: column;
    
    
}
.tattooRemoval__item {
    list-style-type: disc;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: clamp(0.75rem, 0.614rem + 0.68vw, 1.125rem);
    line-height: 245.7%;
    color: #FFFFFF;
}
.tattooRemoval__item::marker {
    color: #E6BC28;
}


@media (max-width: 1000px) {
    .tattooRemoval__block {
        max-width: 1167.5px;
        padding: 0 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .block__image {
        // display: none;

    }
    // .block_text {
    //     display: flex;
    //     margin-top: 5px;
    // }


}
