.header {
    // margin-bottom: 98px;
}

.header__logo {
    margin: 54px auto;
    
    img {
        padding: 10px;
    }
}

.header__navbar {
margin-bottom: 62px;
}

.nav-links {
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links li {
    padding: 5px 15px; 
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.055em;
    text-transform: uppercase;
}

.nav-links li:hover {
    cursor: pointer;
    background: #E6BC28;
    border-radius: 42px;
}

