


.navbar .logo {
    display: flex;
    justify-content: center;
    margin: 54px auto;
}
.header {
    position: sticky;
    top: 0;
    z-index: 20;
    margin-bottom: 7vh;
    // background: url(../../assets/background_site.png) #171717;
}

.header__block {

}

.navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

// .header .nav-menu a {
//     color: #ffffff;
// }

.nav-menu {
	width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-menu a:hover {
        cursor: pointer;
        background: #E6BC28;
        border-radius: 42px;

}

.header .navbar img {
    width: 250px;
    height: auto;
}

.header .nav-menu {
    display: flex;
}

.nav-item {
    // padding: 1rem;
    font-weight: 500;
    a {
        padding: 5px 15px;
        color: #FFF;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.825px;
        text-transform: uppercase;
    }
}

.hamburger {
    display: none;
}


@media screen and (max-width:1040px) {

    .header {
        background: url(../../assets/background_site.png) #171717;
        padding-bottom: 5vh;
}
    .header__block {
        display: flex;
        flex-direction: row;
        
    }
    // }
    .navbar {
        // z-index: 20;
        // max-width: 100%;
        display: flex;
        flex-direction: row;
        margin-top: 5vh;
        // gap: 3rem;
        // justify-content: space-around;
        // flex-direction: row;
    }

    .navbar .logo {
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .hamburger {
        display: block;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 160px;
        flex-direction: column;
        background-color: #E5BC28;
        width: 100%;
        height: 83vh;
        z-index: 999;
        text-align: center;
        transition: 0.3s;
    }

    .nav-menu.active {
        left: 0;
        padding: 30px 0 30px 0;
    }

    .nav-item {
        margin: 1.5rem 0;
    }

    .header .navbar img {
        width: 150px;
    }
}
















